menu "ATV-4 Menu"
    config WIFI_SSID
      string "Wi-Fi SSID"

    config WIFI_PASSWD
      string "Wi-Fi Password"
        help
          Sets WiFi password

    config SNTP_HOSTNAME
      string "Hostname for SNTP Server"

    config UTC_OFFSET
      int "UTC offset"
      default 0
      range -12 12
endmenu

source "Kconfig.zephyr"
