menu "Menu do projeto"
    choice
    prompt "Escolha:"
    default A

        config A
            bool "Opção A"

        config B
            bool "Opção B"

        config C
            bool "Opção C"
    endchoice
endmenu

source "Kconfig.zephyr"
