/**
 * @file sua_placa_p2.overlay
 * @author João Anon (email@edge.ufal.br)
 * @brief
 * @version 0.1
 * @date dd-mm-aaaa
 *
 * @copyright Copyright (c) aaaa
 *
 */


&gpiod {
	group {
		compatible = "gpio-leds";

		node_a_label: node_a {
			gpios = <&gpiod GECKO_PIN(1) GPIO_ACTIVE_HIGH>;
			label = "Node A";
		};

		node_b_label: node_b {
			gpios = <&gpiod GECKO_PIN(0) GPIO_ACTIVE_HIGH>;
			label = "Node B";
		};
	};
};
