config RADAR_SENSOR_DISTANCE_MM
    int
    default 3000

config RADAR_MAX_AXLE_SPACING_MM
    int
    default 12000

config RADAR_SPEED_LIMIT_LIGHT_KMH
    int
    default 80

config RADAR_SPEED_LIMIT_HEAVY_KMH
    int
    default 60

config RADAR_WARNING_THRESHOLD_PERCENT
    int
    default 90

source "Kconfig.zephyr"
